.bottomRight {
    position: absolute;
    max-height: fit-content;
    width: 45%;
    height: 25%;
    bottom: 2%;
    right: 2%;
    margin: 0px;
    padding: 0px;
}

.caption {
    margin: 0;
    font-family: futura;
    word-wrap: break-word;
    font-size: 42px;
    max-height: fit-content;
    
}


/* @media (max-width: 992px) {
    p { font-size: 42px; }
  } */

@media screen and (max-width: 800px),
    screen and (max-height: 400px) {
    .caption { font-size: 32px; }
}

@media screen and (max-width: 600px),
    screen and (max-height: 200px){
    .caption { font-size: 22px; }
}