<th-canvas [thStats]="true" (onRender)="onBeforeRender()" >
    <th-scene #scene>
    <!--
    <th-pointLight
      [castShadow]="false"
      [shadowMapHeight]="1024"
      [shadowMapWidth]="1024"
    ></th-pointLight>
    -->
        <th-ambientLight [color]="['#808080']"> </th-ambientLight>
        <th-directionalLight
            [color]="'#ffffff' | color"
            [intensity]="0.75" >
        </th-directionalLight>

        <app-fog #fogComp ></app-fog>
    
        <th-object3D
            loadGLTF
            [url]="assetPath"
            [rotation]="catRotation"
            [position]="catPosition" >
        </th-object3D>

        <!--
        <th-hemisphereLight [color]="'#aabbcc' | color" ></th-hemisphereLight>
        [lookAt]="this.catPosition"
        [args]="[45, 1, 0.1, 10000]"
        -->
        <th-perspectiveCamera
            [position]="camPosition"
            [lookAt]="lookAtPosition" >
            <th-orbitControls></th-orbitControls>
        </th-perspectiveCamera>
    </th-scene>
</th-canvas>