<th-canvas [thStats]="false" (onRender)="onBeforeRender()" >
    <th-scene #scene>
        <th-directionalLight
            [position]="[1,1,1]"
            [color]="'#ffffff' | color"
            [intensity]="1" >
        </th-directionalLight>

        <!-- <th-pointLight 
            [position]="camPosition"
            [intensity]="1">
        </th-pointLight> -->

        <app-fog #fogComp ></app-fog>
    
        <th-object3D
            loadGLTF
            [url]="items[itemIndex].assetPath"
            [rotation]="itemRot"
            [position]="itemPos"
            [scale]="itemScale"
            (onLoaded)="onLoaded()"
            >
        </th-object3D>

        <th-perspectiveCamera
            [position]="camPosition"
            [lookAt]="lookAtPosition" >
            <!--<th-orbitControls></th-orbitControls>-->
        </th-perspectiveCamera>
    </th-scene>
</th-canvas>

<p class="caption" [textContent]="items[itemIndex].caption">You got a cat</p>


<div *ngIf="items[itemIndex].attribution?.url == undefined; else elseBlock">
    <p class="attribution" [textContent]="items[itemIndex].attribution?.short" [title]="items[itemIndex].attribution?.long"></p>
</div>
<ng-template #elseBlock>
    <a [href]="items[itemIndex].attribution?.url" target="_blank">
        <p class="attribution" [textContent]="items[itemIndex].attribution?.short" [title]="items[itemIndex].attribution?.long"></p>
    </a>
</ng-template>