ul {
    position: absolute;
    top: 80px;
    right: 80px;
    display: flex;
    align-items: center;
}

li {
    vertical-align: middle;
    list-style: none;
    float: left;
    padding-inline: 8px;
}

.name {
    font-size: 2em
}

fa-icon {
    font-size: 4em;
}



@media screen and (max-width: 1000px),
    screen and (max-height: 600px) {
    ul {
        top: 70px;
        right: 70px;
    }
    fa-icon {
        font-size: 3.5em;
    }
    .name {
        font-size: 1.75em;
    }
}

@media screen and (max-width: 800px),
    screen and (max-height: 400px) {
    ul {
        top: 60px;
        right: 60px;
    }
    fa-icon {
        font-size: 3em;
    }
    .name {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 600px),
    screen and (max-height: 200px){
    ul {
        top: 40px;
        right: 40px;
    }
    fa-icon {
        font-size: 2em;
    }
    .name {
        font-size: 1em;
    }
}

.windows-watermark {
  position: fixed;
  right: 32px;
  bottom: 32px;
  color: rgba(255,255,255,0.7);
  font-size: 20px;
  font-family: "Segoe UI", Arial, sans-serif;
  text-align: left;
  pointer-events: none;
  user-select: none;
  z-index: 9999;
  white-space: pre-line;
}