<div class="mat-typography app-frame mat-app-background" fxLayout="column">

    <app-skyrim-loading></app-skyrim-loading>

    <ul class="list">
        <li class="name">
            Noah Surprenant
        </li>

        <li (mouseover)="linkedinAnim='beat'" (mouseleave)="linkedinAnim=undefined">
            <a href="https://www.linkedin.com/in/noahsurprenant/" target="_blank" >
                <fa-icon [icon]="faLinkedin" [animation]="linkedinAnim" >
                </fa-icon>
            </a>
        </li>

        <li (mouseover)="githubAnim='beat'" (mouseleave)="githubAnim=undefined" >
            <a href="https://github.com/NoahSurprenant" target="_blank" >
                <fa-icon [icon]="faGithub" [animation]="githubAnim">
                </fa-icon>
            </a>
        </li>

        <li (mouseover)="envelopeAnim='beat'" (mouseleave)="envelopeAnim=undefined" >
            <a href="mailto:noah.surprenant@gmail.com" target="_blank" >
                <fa-icon [icon]="faEnvelope" [animation]="envelopeAnim">
                </fa-icon>
            </a>
        </li>
        
        <li (mouseover)="filePdfAnim='beat'" (mouseleave)="filePdfAnim=undefined">
            <a href="https://cdn.noahsurprenant.com/Noah%20Surprenant%20-%20Resume.pdf" target="_blank">
                <fa-icon [icon]="faFilePdf" [animation]="filePdfAnim">
                </fa-icon>
            </a>
        </li>
    </ul>

    @if (displayWatermark()) {
    <div class="windows-watermark">
        Activate Windows<br>
        Go to Settings to activate Windows.
    </div>
    }
</div>
