/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body, app-root, .app-frame {
    overflow: hidden;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    background-color: black;
}

@font-face {
    font-family: 'futura-oblique';
    src: url('assets/futura-condensed-pt-medium-oblique.otf') format('embedded-opentype'),
         url('assets/futura-condensed-pt-medium-oblique.otf') format('woff2'), 
         url('assets/futura-condensed-pt-medium-oblique.otf') format('woff'), 
         url('assets/futura-condensed-pt-medium-oblique.otf') format('truetype'),
         url('assets/futura-condensed-pt-medium-oblique.otf') format('svg');
}

@font-face {
    font-family: 'futura';
    src: url('assets/futura-condensed-pt-medium.otf') format('embedded-opentype'),
         url('assets/futura-condensed-pt-medium.otf') format('woff2'), 
         url('assets/futura-condensed-pt-medium.otf') format('woff'), 
         url('assets/futura-condensed-pt-medium.otf') format('truetype'),
         url('assets/futura-condensed-pt-medium.otf') format('svg');
}

@font-face {
    font-family: 'futura-light';
    src: url('assets/futura-light.otf') format('embedded-opentype'),
         url('assets/futura-light.otf') format('woff2'), 
         url('assets/futura-light.otf') format('woff'), 
         url('assets/futura-light.otf') format('truetype'),
         url('assets/futura-light.otf') format('svg');
}

/* Remove all default link styling */
a {
    all: unset;
}

/* But I still want the mouse do be a pointer over links */
a:hover {
    cursor: pointer;
}